<div class="profile" *ngIf="!profileLoader">
  <div class="profile-container">
    <div class="shape">
      <div class="image"><img [src]="profileImage" /></div>
    </div>
    <h3 class="user-name">{{ fullName }}</h3>
    <h3 class="title">{{ role }}</h3>
    <p class="user-details">{{ email }}</p>
    <p class="user-details">{{ phoneNumber }}</p>

    <div class="icons">
      <button
        nz-button
        nzSize="default"
        nzType="primary"
        class="dashboard-button"
        [routerLink]="['/user-dashboard']"
      >
        Dashboard <i class="fa fa-external-link" aria-hidden="true"></i>
      </button>
      <div class="rating">
        <span>
          Rating: ({{ overAllRating ? overAllRating : 0 }})<i
            class="fa fa-star"
            aria-hidden="true"
          ></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="profile-loader-container" *ngIf="profileLoader">
  <nz-spin nzSimple nzTip="Loading profile..." [nzSize]="'large'"></nz-spin>
</div>
