<app-navbar
  [filledNav]="filledNav"
  [filledNavUserContentColor]="filledNavUserContentColor"
></app-navbar>
<div class="pass-key-container" *ngIf="!passKeyLoader">
  <div *ngIf="inActiveText">
    <nz-alert nzType="error" [nzMessage]="inActiveText"></nz-alert>
  </div>

  <div class="pass-key-card">
    <img
      src="https://cdn-icons-png.flaticon.com/512/61/61457.png"
      id="passKeyLogo"
    />
    <div class="pass-key-header">
      <h2 class="formTitle">{{ projectTitle }}</h2>
      <span
        class="reason-text"
        nz-popover
        nzPopoverTitle="Why this system ?"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate"
        >Pass Key System <i class="fa fa-info-circle" aria-hidden="true"></i
      ></span>
    </div>
    <form (ngSubmit)="submitPassKey($event)" [formGroup]="requiredPassKeyForm">
      <div class="inputDiv">
        <label class="inputLabel" for="pass-key">Pass Key</label>
        <input
          type="text"
          id="pass-key"
          name="Pass Key"
          class="pass-key-input"
          placeholder="Enter Passkey"
          formControlName="passKey"
        />
        <div
          *ngIf="
            passKeyFormSubmitted &&
            requiredPassKeyForm.controls['passKey'].errors &&
            requiredPassKeyForm.controls['passKey'].errors['required']
          "
          class="error-text"
        >
          Pass Key is required*
        </div>
        <div
          *ngIf="
            passKeyFormSubmitted &&
            requiredPassKeyForm.controls['passKey'].errors &&
            requiredPassKeyForm.controls['passKey'].errors['minlength']
          "
          class="error-text"
        >
          Pass key should have atleast 8 characters*
        </div>
        <div
          *ngIf="
            passKeyFormSubmitted &&
            requiredPassKeyForm.controls['passKey'].errors &&
            requiredPassKeyForm.controls['passKey'].errors['maxlength']
          "
          class="error-text"
        >
          Pass Key should have atmost 13 characters*
        </div>
      </div>

      <div class="buttonWrapper">
        <button
          type="submit"
          id="submitButton"
          class="submitButton"
          [ngClass]="{
            'enter-dashboard-btn-loading': enterDashboardBtnLoading
          }"
          [disabled]="enterDashboardBtnLoading"
        >
          {{
            enterDashboardBtnLoading
              ? "Entering Project Dasboard..."
              : "Enter Project Dashboard"
          }}
        </button>
      </div>
    </form>
    <div class="pass-key-options">
      <span (click)="resendPassKey()"
        ><i class="fa fa-repeat" aria-hidden="true"></i> Re-send passkey</span
      >
      <span
        (click)="openResetPassKeyDrawer()"
        *ngIf="currentUserRoleInProject == 'Team Leader'"
      >
        <i class="fa fa-refresh" aria-hidden="true"></i> Reset passkey</span
      >
      <div
        class="request-to-reset-div"
        *ngIf="currentUserRoleInProject == 'Team Member'"
      >
        <span (click)="requestToResetPassKey()"
          ><i class="fa fa-paper-plane" aria-hidden="true"></i> Request to reset
        </span>
        <i
          class="fa fa-question-circle"
          aria-hidden="true"
          nz-popover
          nzPopoverTitle="You are not allowed to reset passkey. Reason 👇"
          nzPopoverTrigger="click"
          [nzPopoverContent]="whyRequestToChange"
        ></i>
      </div>
      <span routerLink="/projects">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to
        projects</span
      >
    </div>
  </div>
</div>
<ng-template #contentTemplate>
  <span
    >This system build to secure your project information from <br />other
    people except the corressponding project team members</span
  >
</ng-template>
<ng-template #whyRequestToChange>
  <span
    >The Reason is only the team leader of this project can able to <br />
    reset the pass key. You can request team lead to reset.</span
  >
</ng-template>
<nz-drawer
  nzSize="large"
  [nzVisible]="isResetPassKeyDrawervisible"
  nzPlacement="right"
  nzTitle="Reset Pass Key"
  (nzOnClose)="closeResetPassKeyDrawer()"
>
  <ng-container *nzDrawerContent>
    <div class="reset-pass-key-container">
      <div class="verify-email-card" #emailVerify>
        <h2 class="formTitle">Email Verification before reset</h2>
        <form
          #emailVerification
          class="email-verification"
          (ngSubmit)="submitEmailForVerification($event)"
          [formGroup]="requiredEmailVerificationForm"
        >
          <div class="inputDiv">
            <label class="inputLabel" for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="email-input"
              placeholder="Enter email"
              formControlName="email"
            />
            <div
              *ngIf="
                emailverificationFormSubmitted &&
                requiredEmailVerificationForm.controls['email'].errors &&
                requiredEmailVerificationForm.controls['email'].errors[
                  'required'
                ]
              "
              class="error-text"
            >
              Email is required*
            </div>
            <div
              *ngIf="
                emailverificationFormSubmitted &&
                requiredEmailVerificationForm.controls['email'].errors &&
                requiredEmailVerificationForm.controls['email'].errors['email']
              "
              class="error-text"
            >
              Please enter valid email*
            </div>
          </div>

          <div class="buttonWrapper">
            <button
              type="submit"
              id="submitButton"
              class="submitButton"
              [ngClass]="{ 'send-code-btn-loading': sendCodeBtnLoading }"
              [disabled]="sendCodeBtnLoading"
            >
              {{ sendCodeBtnLoading ? "Sending Code..." : "Send Code" }}
            </button>
          </div>
        </form>
        <form
          #verificationCode
          class="verification-code"
          (ngSubmit)="submitVerificationCode($event)"
          [formGroup]="requiredVerificationCodeForm"
        >
          <div class="inputDiv">
            <label class="inputLabel" for="code">Code</label>
            <input
              type="number"
              id="code"
              name="code"
              class="code-input"
              placeholder="Enter Verification Code"
              formControlName="code"
            />
            <div
              *ngIf="
                verificationCodeSubmitted &&
                requiredVerificationCodeForm.controls['code'].errors &&
                requiredVerificationCodeForm.controls['code'].errors['required']
              "
              class="error-text"
            >
              Code is required*
            </div>
            <div
              *ngIf="
                verificationCodeSubmitted &&
                requiredVerificationCodeForm.controls['code'].errors &&
                requiredVerificationCodeForm.controls['code'].errors[
                  'minlength'
                ] &&
                requiredVerificationCodeForm.controls['code'].errors[
                  'maxlength'
                ]
              "
              class="error-text"
            >
              Code must have 6 digits*
            </div>
          </div>

          <div class="buttonWrapper">
            <button
              type="submit"
              id="submitButton"
              class="submitButton"
              [ngClass]="{ 'verify-email-btn-loading': verifyEmailBtnLoading }"
              [disabled]="verifyEmailBtnLoading"
            >
              {{
                verifyEmailBtnLoading ? "Verifying Email..." : "Verify Email"
              }}
            </button>
          </div>
          <div class="edit-email">
            <span (click)="editEmailForResetPassKey()">Edit Email</span>
            <span (click)="submitEmailForVerification($event)"
              >Resend code</span
            >
          </div>
        </form>
      </div>
      <div class="reset-pass-key-card" #resetPassKey>
        <h2 class="formTitle">Reset Pass Key</h2>
        <form
          (ngSubmit)="submitResetPassKey($event)"
          [formGroup]="requiredResetPassKeyForm"
        >
          <div class="inputDiv">
            <label class="inputLabel" for="pass-key">Pass Key</label>
            <input
              type="text"
              id="pass-key"
              name="Pass Key"
              class="pass-key-input"
              placeholder="Enter Passkey"
              formControlName="resetPassKey"
            />
            <div
              *ngIf="
                resetPassKeySubmitted &&
                requiredResetPassKeyForm.controls['resetPassKey'].errors &&
                requiredResetPassKeyForm.controls['resetPassKey'].errors[
                  'required'
                ]
              "
              class="error-text"
            >
              Pass Key is required*
            </div>
            <div
              *ngIf="
                resetPassKeySubmitted &&
                requiredResetPassKeyForm.controls['resetPassKey'].errors &&
                requiredResetPassKeyForm.controls['resetPassKey'].errors[
                  'minlength'
                ]
              "
              class="error-text"
            >
              Pass key should have atleast 8 characters*
            </div>
            <div
              *ngIf="
                resetPassKeySubmitted &&
                requiredResetPassKeyForm.controls['resetPassKey'].errors &&
                requiredResetPassKeyForm.controls['resetPassKey'].errors[
                  'maxlength'
                ]
              "
              class="error-text"
            >
              Pass Key should have atmost 13 characters*
            </div>
          </div>

          <div class="buttonWrapper">
            <button
              type="submit"
              id="submitButton"
              class="submitButton"
              [ngClass]="{
                'reset-pass-key-btn-loading': resetPassKeyBtnLoading
              }"
              [disabled]="resetPassKeyBtnLoading"
            >
              {{
                resetPassKeyBtnLoading
                  ? "Resetting Pass Key..."
                  : "Reset Pass Key"
              }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</nz-drawer>
<app-loader *ngIf="passKeyLoader" loaderText="Loading..."></app-loader>
